<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Claimed</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Food Successfully Claimed!</h1>
        <p>Enjoy your meal! 😊 Please Go and Grab your Food.</p>
        <a href="/" class="btn">Back to Home</a>
    </div>
    <footer>
        <p>Help Share: Resource Sharing Platform<br>
        <a href="https://github.com/Karthi-Villain/Help_Share_Resource_Sharing_Platform">Github</a></p>
      </footer>
      
</body>
</html>
